<ion-view title="{{tripDetails.origin}} - {{tripDetails.destination}}" id="page1" style="background-color:#FFFFFF;">
    <ion-content padding="false" class="has-header">
        <div>
            <div class="timewarp-image">
                <img src="<%= image_url('TimeTravelDark.jpg') %>">
                <div class="timewarp-info">
                    <h4>Timewarp! Save $105 per ticket</h4>
                    <p>You can book these future fares immediately and lock in the low price.</p>
                    <p>
                        <a style='color:white;' ng-click="modal.show()">How does this work?</a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="info-container">
                <h4 style='margin-bottom:5px;margin-top:5px;'>Choose your flight type</h4>
                <p style='font-size:14px;color:#666;margin-bottom:5px;'>The more flexible you can be, the cheaper your flight.</p>
            </div>
        </div>
        <ion-list id="timewarp-list2">
            <div>
                <ion-item ng-click="flightBreakdown(&quot;{{tier.type}}&quot;)" ng-repeat="tier in tiers">
                    <div class="row">
                        <div class="col align-left">
                            <p class="discount">
                                <strike>{{flightDetails['currentPrice'] | currency:"$":0}}</strike>&nbsp;Save {{flightDetails['currentPrice'] - flightDetails['targetPrice'] | currency:"$":0}}</p>
                        </div>
                        <div class="col align-right">
                            <p class="price">{{flightDetails['targetPrice'] | currency:"$":0}} RT</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col type-info-container">
                            <h2>{{tier.title}}</h2>
                            <p style="white-space:normal">{{tier.description}}</p>
                            <br>
                            <h4>{{arrayToString(flightDetails['airlines'])}}</h4>
                        </div>
                    </div>
                </ion-item>              
            </div>
        </ion-list>
        <div>
            <script id="howItWorks.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar>
                        <i style='font-size:20px;padding:5px;' ng-click="modal.hide()" class='ion-close'></i>
                    </ion-header-bar>
                    <ion-content>
                        <ion-slide-box on-slide-changed="slideChanged(index)">
                            <ion-slide>
                                <img src="<%= image_url('TimeTravelDark.jpg') %>" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                                <div class='warp-info align-center'>
                                    <h3>No more waiting for prices to drop!</h3><br>
                                    <p>The bunny has travelled into the future and brought back low fares into the present.</p><br>
                                    <p>You won't find these prices on any other website!</p>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <img src="<%= image_url('TravelAgency.jpg') %>" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                                <div class='warp-info align-center'>
                                    <h3>Book the future today.</h3><br>
                                    <p>You can book these future fares immediately and lock in the low price.</p><br>
                                    <p>But hurry, the Timewarp doesn't stay open for very long.</p>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <img src="<%= image_url('BunnyTrip.jpg') %>" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                                <div class='warp-info align-center'>
                                    <h3>Pack your bags.</h3><br>
                                    <p>We will book you at leavest 2 weeks before departure. Your price is guarenteed at no extra charge.</p><br>
                                    <p>And your ticket is refundable!</p>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                    </ion-content>
                  </ion-modal-view>
            </script>
        </div>
    </ion-content>
</ion-view>